# IDEs
.idea/
.vs/
.claude/
.guidelines
*.DotSettings.user

# Devtools binaries
devtools/bechef/bechef

# Build outputs
bin/
bin-int/
obj/
out/
*.exe
*.dll
*.lib
*.pdb

# solution files
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

!vendor/Assimp/**
!vendor/slang/**
!vendor/**/lib/**
!vendor/**/*.so
!vendor/**/*.so.*


